<!-- Include Meta Tags Here -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color'/>

<title>{{site.title}}</title>

{% if site.image_url %}
<link rel="shortcut icon" href="https://images.weserv.nl/?url={{site.image_url}}&h=300&w=300&fit=cover&mask=circle&maxage=7d" type="image/x-icon">
{% endif %}
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">